@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';

* {
    font-family: Outfit;
}

@theme {
    --color-primary: #5f6fff;
}

.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply hidden;
}

@media (max-width: 740px) {
    .active p {
        @apply text-white bg-primary;
    }
}
